@import '../../../sass/_grid.scss'
.row
  @extend .row
  padding: 50px 0px
  +small-only
    padding: 50px 10%
  &.padding_100
    padding: 100px
    +small-only
      padding: 50px 10%
  &.padding_150
    padding: 150px
    +small-only
      padding: 75px 10%
  &.padding_200
    padding: 200px
    +small-only
      padding: 100px 10%
.columns
  @extend .columns

.large_4
  @extend .large-4

.large_6
  @extend .large-6

.large_12
  @extend .large-12

.small_12
  @extend .small-12

.Container
  width: 80%
  margin: 40px auto
.Perfil
  position: relative
  cursor: pointer
.Avatar
  width: 250px
  height: 328px
  border: solid 7px $cherry-red-two
  background-size: cover
  &:hover + .Name
    background-color: $cobalt-blue
.Name
  width: 269px
  height: 65px
  background-color: $black
  font-family: $sourceCode
  font-size: $font-title-big-mobil
  font-weight: 600
  color: $white-three
  position: absolute
  padding: 0 16px
  bottom: 10px
  left: -10%
  display: flex
  justify-content: center
  align-items: center
  pointer-events: none
.Description
  font-family: $sourceCode
  font-size: $font-text-big
  line-height: 1.41
  color: $dark-two
  width: 250px
  +small-only
    width: 100%

.PhotoModal
  width: 35%
  position: absolute
  left: -5%
  top: 0
  +small-only
    display: none
.ContentSpeakers
  margin-left: 30%
  margin-right: 10%
  padding: 60px 70px
  +small-only
    margin-left: 0%
    padding: 10px
     margin-right: 0%
  & h1
    font-family: $sourceCode
    font-size: $font-title-big
    font-weight: bold
    letter-spacing: 1.5px
    color: $white-three
  & h2
    font-family: $sourceCode
    font-size: $font-title-big-mobil
    font-weight: bold
    letter-spacing: 1.5px
    color: $white-three
  & p
    width: 469px
    font-family: $roboto
    font-size: $font-text-big
    line-height: 1.59
    color: $white-three
    margin: 20px 0px
    +small-only
      width: 90%

.ContentDivider
  width: 320px
  height: 2px
  margin: 40px 40px 40px -150px
  position: relative
  background-image: linear-gradient(to right, $cobalt-blue, #eb151c 93%)
  +small-only
      width: 90%
.ContainerSponsor
  margin-left: -110px
  position: relative
  z-index: 2
  width: 680px
  height: 422px
  background-image: linear-gradient(to right, $cobalt-blue, #eb151c 93%)
  +small-only
    width: 100%
    margin-left: 0px
    height: auto
.ContainerSponsorContent
  padding: 30px 25px 25px 25%
  +small-only
    padding: 10px
  & p
    width: 377.9px
    +small-only
      width: 90%

.FooterIcon
  display: flex
  padding: 0
  +small-only
    flex-direction: row
    justify-content: center
    margin-left: 0px
.FooterItemIcon
  font-size: $font-title-big-mobil
  color: $white-three
  list-style: none

.IconLink
  color: $white-three
  text-decoration: none
